body {
    background-color: #c9ffcf;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/macOS-Big-Sur-Wallpaper.jpg);
    background-size: cover;
}

img {
    width: 128px;
    object-fit: cover;
    border-radius: 16px;
}

h1 {
    margin: 4px;
    background-color: #000;
    color: #fff
}



#topbar {
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    color: #fff;
}
#topbarTimeElement {
    margin-right: 16px;
    background-color: rgba(256, 256, 256, 0.125);
    padding: 4px 12px;
    border-radius: 16px;
}
#topbarWeather {
    margin-left: 16px;
    background-color: rgba(256, 256, 256, 0.25);
    padding: 4px 12px;
    border-radius: 16px;
}
#topbarName {
    margin-left: 16px;
    font-weight: 700;
    background-color: rgba(256, 256, 256, 0.125);
    padding: 4px 12px;
    border-radius: 16px;
}



#welcome {
    padding: 0px 0px 8px 0px;
    border-style: solid;
    width: 256px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    overflow: hidden;
}
#welcome h1, #welcome p {
    margin: 0px;
    padding: 0px;
}
#welcome h1, #welcome p, #welcome a, #welcome img {
    padding: 6px;
}

#welcomeHeader {
    display: flex;
    align-items: center;
    cursor: move;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 6px 12px;
    border-bottom: 2px solid #000000;
    box-sizing: border-box;
    background-color: #999999;
}